<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tones Toys</title>
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="icon" type="image/x-icon" href="/static/images/234.png">

</head>
<body>
    <div class="main-body">
        <div class="head">
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="login">Login</a>
                <a href="contact">Contact</a>
                <a href="#about">Logout</a>
              </div>
        </div>
        <div class="left-section">
            <img src="/static/images/234.png">
        </div>

        <div class="right-section">
            <p class="sponsor">TONES TOYS ,OWNED AND MARKETED BY THANGASSERY AIRWAYS  FOLLOW US ON<a href="https://www.instagram.com/_tony_titus"><img src="/static/images/logo-instagram-png-13570.png"></a></p>
            <p class="sponsor1">FOR FURTHER INFORMATION MAIL US AT <a class="sponsor2" href="mailto:library00977@gmail.com">HERE</a></p>
            <p class="sp3">FOR CUSTOMER SUPPORT 1400 525 1199</p>
        </div>

    </div>

        
    
</body>
</html>