<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tones Toys</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" type="image/x-icon" href="/static/images/234.png">
</head>
<body>
    <div class="main-body">
        <h1 class="slogan">store that cares</h1>
        <div class="head">
            
            <div class="topnav">
                
                <a class="active" href="/">Home</a>
                <a href="login">Login</a>
                <a href="contact">Contact</a>
                <a href="#about">Logout</a>
            </div>
        </div>
        <div class="middle">
            <div class="left-section">
                <img src="/static/images/234.png">
            </div>
            <div class="right-section">
                <p><h3>Welcome to "TONES TOYS," your one-stop online shop for high-quality used children's items! Our website is dedicated to providing a convenient and affordable way for parents and caregivers to find gently used products for their little ones. With our extensive selection and user-friendly interface, we aim to make your shopping experience enjoyable and hassle-free.</h3></p>
            </div>
            <div class="right1-section">
                <form class="tabs">
                    <img class="pic1" src="/static/images/img3.jpg"alt="">
                    <p class="info">Item: Pram</p>
                    <p class="info1">Usage: Used for 2 years</p>
                    <p class="info1">Mobile: 5678432990</p>
                </form>
                <form class="tabs1">
                    <img class="pic2" src="/static/images/img1.jpg" alt="">
                    <p class="info">Item: Baby Crib</p>
                    <p class="info1">Usage: Used for 1 years</p>
                    <p class="info1">Mobile: 6859321477</p>
                </form>
                <form class="tabs2">
                    <img class="pic1" src="/static/images/img2.jpg" alt="">
                    <p class="info">Item: 5 yrs old kids clothes(girl)</p>
                    <p class="info1">Usage: Used for 6 months</p>
                    <p class="info1">Mobile: 8547961230</p>
                </form>
                <form class="tabs3">
                    <img class="pic1" src="/static/images/img4.jpg" alt="">
                    <p class="info">Item: Diner Toys</p>
                    <p class="info1">Usage: Used for 4 months</p>
                    <p class="info1">Mobile: 6785423781</p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>